{{=<< >>=}}
<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
    {{{form}}}
  </div>
  <div class="footer">
    <p>This text can be found in <code>resources/templates/dialog.html.mustache</code></p>
  </div>
</div>
