{{=<< >>=}}
<div class="container">
  <div class="page-header">
    <h1>Protected site: {{message}}</h1>
    <p>Please <a href="{{login-href}}">login</a>.</p>
  </div>
  <div style="font-size: smaller">
    <p>This text can be found in <code>resources/templates/index.html.mustache</code></p>
  </div>
</div>
