{{=<< >>=}}
<div class="container">
  <div class="page-header">
    <h1>Login</h1>
    {{{login-form}}}
  </div>
  <div style="font-size: smaller">
    <p>This text can be found in <code>resources/templates/login.html.mustache</code></p>
  </div>
</div>
