{{=<< >>=}}
<div class="container">
  <div class="page-header">
    <h1>Welcome, you are logged in successfully</h1>
    <p>TODO: Display user id here</p>
    <p>TODO: Display user name and email here</p>
    <p>TODO: Display user gravatar in navbar</p>
    <p>TODO: Logout</p>
  </div>
  <div class="footer">
    <p>This text can be found in <code>resources/templates/protected.html.mustache</code></p>
  </div>
</div>
