{{=<< >>=}}
<div class="container">
  <div class="page-header">
    <h1>Introduction to Clojure</h1>
  </div>
  <div class="footer">
    <p>This text can be found in <code>resources/templates/index.html.mustache</code></p>
  </div>
</div>
