{
 :components
 [
  {:component :modular.http-kit/webserver
   :dependencies [[juxt.modular/http-kit "0.5.1"]]
   :constructor modular.http-kit/new-webserver
   :options [:port]
   :using [:request-handler]
   }

  {:component :modular.bidi/router
   :dependencies [[juxt.modular/bidi "0.5.2"]]
   :constructor modular.bidi/new-router
   }

  {:component :modular.bidi/web-service
   :dependencies [[juxt.modular/bidi "0.5.2"]]
   :constructor modular.bidi/new-web-service}

  #_{:component :webresources
     :dependencies [[juxt.modular/bidi "0.5.2"]]
     :constructor modular.bidi/new-web-service
     :refers [bidi.bidi/->ResourcesMaybe]
     ;; TODO The args should belong to the instance
     :args [:request-handlers {}
            :routes ["/" {"js/" (->ResourcesMaybe {:prefix "public/js/"})
                          "css/" (->ResourcesMaybe {:prefix "public/css/"})}]]}

  {:component :webmeta
   :dependencies [[juxt.modular/bidi "0.5.2"]]
   :constructor modular.template/new-static-template-data
   ;; TODO The args should belong to the instance
   :args [:title "{{name}}"]
   }

  {:component :cljs-builder
   :dependencies [[juxt.modular/cljs "0.4.0"]]
   :constructor modular.cljs/new-cljs-builder
   ;; TODO The args should belong to the instance
   :args [:id :default :source-path "src-cljs"]
   }

  {:component :cljs-core
   :dependencies [[juxt.modular/cljs "0.5.0"]]
   :constructor modular.cljs/new-cljs-module
   ;; TODO The args should belong to the instance
   :args [:name :cljs-core :mains ['cljs.core] :dependencies #{}]
   }

  ;; Menus
  {:component :modular.menu/menu-index
   :dependencies [[juxt.modular/menu "0.5.3"]]
   :constructor modular.menu/new-menu-index}

  {:component :bootstrap-menu
   :dependencies [[juxt.modular/bootstrap "0.2.0"]]
   :constructor modular.bootstrap.menu/new-bootstrap-menu}

  ;; Security components
  {:component :cylon/login-form
   :dependencies [[cylon "0.5.0-20141014.130020-17"]]
   :constructor cylon.impl.authentication/new-authentication-login-form
   }

  {:component :login-form-menu-items
   :dependencies [[cylon "0.5.0-20141014.130020-17"]
                  [juxt.modular/menu "0.5.3"]]
   :constructor modular.menu.cylon/new-login-form-menu-items
   }

  {:component :cylon/login-form-bootstrap-renderer
   :dependencies [[cylon "0.5.0-20141014.130020-17"]
                  [juxt.modular/bootstrap "0.2.0"]]
   :constructor modular.bootstrap.cylon.login-form/new-bootstrap-login-form-renderer
   }

  {:component :boilerplate
   :dependencies [[juxt.modular/bootstrap "0.2.0"]]
   :constructor {{name}}.boilerplate/new-boilerplate
   }

  {:component :cylon/atom-backed-session-store
   :dependencies [[cylon "0.5.0-20141014.130020-17"]]
   :constructor cylon.impl.session/new-atom-backed-session-store
   :args [:expiry-seconds 3600 :id :login]
   }

  {:component :cylon/default-user-domain
   :dependencies [[cylon "0.5.0-20141014.130020-17"]]
   :constructor cylon.impl.user/new-default-user-domain
   }

  {:component :cylon/pbkdf2-password-hash
   :dependencies [[cylon "0.5.0-20141014.130020-17"]]
   :constructor cylon.impl.pbkdf2/new-pbkdf2-password-hash
   }

  {:component :cylon/user-file
   :dependencies [[cylon "0.5.0-20141014.130020-17"]]
   :constructor cylon.impl.user/new-user-file
   ;; TODO The args should belong to the instance
   :args [:file (io/file (System/getProperty "user.home") ".{{name}}-users.edn")]
   }

  {:component :authorizer
   :dependencies [[cylon "0.5.0-20141014.130020-17"]]
   :constructor cylon.impl.authorization/new-logged-in-authorizer
   }

  {:component :user-domain-seeder
   :dependencies [[cylon "0.5.0-20141014.130020-17"]]
   :constructor cylon.impl.user/new-user-domain-seeder
   :args [:users [{:id "dev" :password {{{dev-password}}} }]]
   :dev? true
   }

  {:component :modular.web-template/dependency-dynamic-template-model
   :dependencies [[juxt.modular/web-template "0.5.2"]
                  [de.ubercode.clostache/clostache "1.3.1"]]
   :constructor modular.web-template/new-dependency-dynamic-template-model
   }

  ;; Project-local components
  {:component :website
   :dependencies [[hiccup "1.0.5"]
                  [juxt.modular/bidi "0.5.2"]]
   :constructor {{name}}.website/new-website
   :using [:template-model]}

  #_{:component :{{name}}-cljs
     :dependencies [[juxt.modular/cljs "0.5.0"]]
     :constructor modular.cljs/new-cljs-module
     ;; TODO The args should belong to the instance
     :args [:name :{{name}} :mains ['{{name}}.main] :dependencies #{:cljs-core}]
     }

  #_{:component :example-page
     :constructor {{name}}.example-page/new-example-page
     ;; TODO The args should belong to the instance
     :args [:title "First example page"
            :content "Example page (A) generated by modular."
            :path "/example-page-a"
            ]}

  #_{:component :example-page-menu-items
     :constructor {{name}}.example-page/new-example-page-menu-items
     ;; TODO The args should belong to the instance
     :args [:label "First example page"
            :target :example-page-a]}

  #_{:component :example-page-b
     :constructor {{name}}.example-page/new-example-page
     :args [:title "Second example page"
            :content "Example page (B) generated by modular."
            :path "/example-page-b"]}

  #_{:component :example-page-b-menu-items
     :constructor {{name}}.example-page/new-example-page-menu-items
     :args [:label "Second example page"
            :target :example-page-b]}

  #_{:component :restricted-page
     :constructor {{name}}.restricted-page/new-restricted-page}
  ]

 :assemblies
 [
  ;; lein new modular app +httpkit
  ;; lein new modular app +httpkit:80 ; because there's only one possible option in this case
  ;; lein new modular app +httpkit:port:80

  ;; lein new modular app full-featured-website
  {:assembly :core
   :files [{:template "project.clj" :target "project.clj"}
           {:template "system.clj" :target "src/{{sanitized}}/system.clj" :close-parens? true}
           {:template "dev.clj" :target "dev/dev.clj"}
           {:template "user.clj" :target "dev/user.clj"}]
   :default? true}

  {:assembly :http-listener
   :components
   {
    #_:template-model
    #_{:component :modular.web-template/dependency-dynamic-template-model}

    #_:website #_{:component :website
                  :dependencies [[hiccup "1.0.5"]
                                 [juxt.modular/bidi "0.5.2"]]
                  :using {:template-model :template-model}}

    #_:webresources
    #_{:component :modular.bidi/web-service
       :refers [bidi.bidi/->ResourcesMaybe]
       :args [:request-handlers {}
              :routes ["/" {"js/" (->ResourcesMaybe {:prefix "public/js/"})
                            "css/" (->ResourcesMaybe {:prefix "public/css/"})}]]}

    :listener {:component :modular.http-kit/webserver}

    ;;                :menu-index :menu-index
    }
   :default? true}

  {:assembly :modular-bidi-routes
   :components {:webrouter
                {:component :modular.bidi/router
                 ;;:using [:website :webresources]
                 }}
   ;; TODO rename to component-dependencies and dependencies above
   ;; should be renamed to library-dependencies
   :dependency-map {[:http-listener :listener] {:request-handler :webrouter}}
   :default? true}

  {:assembly :simple-webservice
   :components {:simple-webservice
                {:constructor {{name}}.simple-webservice/new-website}}
   :dependency-map {[:modular-bidi-routes :webrouter] [:simple-webservice]}
   :files [{:template "simple_webservice.clj"
            :target "src/{{sanitized}}/simple_webservice.clj"}]
   :default? true}

  {:assembly :example-pages
   :components #{:example-page-a
                 :example-page-a-menu-items
                 :example-page-b
                 :example-page-b-menu-items}
   :dependency-map {:webrouter [:example-page-a :example-page-b]
                    :example-page-a {:template-model :template-model}
                    :example-page-b {:template-model :template-model}
                    :menu-index [:example-page-a-menu-items
                                 :example-page-b-menu-items]}
   #_:default? #_true}

  {:assembly :webmeta
   :components #{:webmeta}
   :dependency-map {:template-model [:webmeta]}
   #_:default? #_true}

  {:assembly :cljs
   :components #{:cljs-builder :cljs-core :{{name}}-cljs}
   :dependency-map {:cljs-builder [:cljs-core :{{name}}-cljs]}
   #_:default? #_false}

  {:assembly :cylon/login
   :components #{:cylon/login-form
                 :login-form-menu-items
                 :cylon/login-form-bootstrap-renderer
                 :boilerplate
                 :cylon/atom-backed-session-store
                 :cylon/default-user-domain
                 :cylon/pbkdf2-password-hash
                 :cylon/user-file
                 :template-model
                 :user-domain-seeder}

   :dependency-map {:webrouter [:cylon/login-form
                                ],
                    :cylon/login-form
                    {:session-store :cylon/session-store,
                     :user-domain :cylon/user-domain,
                     :renderer :cylon/login-form-bootstrap-renderer
                     },
                    :cylon/login-form-bootstrap-renderer
                    {:boilerplate :boilerplate},
                    :boilerplate
                    {:template-model :template-model},
                    :cylon/user-domain
                    {:password-hash-algo :cylon/password-hash-algo
                     :user-store :cylon/user-store},
                    :menu-index [:login-form-menu-items]}
   #_:default? #_false
   :doc {:main #markdown "cylon-login.md"}}

  {:assembly :bootstrap
   :components #{:bootstrap-menu}
   :dependency-map {:bootstrap-menu {:menu-index :menu-index}
                    :template-model {:menu :bootstrap-menu}}
   #_:default? #_true}

  {:assembly :dev-browser
   :components #{}
   :dependency-map {}
   #_:default? #_true}
  ]

 ;; TODO: Support options, which are collections of assemblies
 :options
 {"basic-website" [:website]}

 }


;; TODO Show documentation, like this :-

;; lein new modular basic-website --help
