<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>Congratulations!</h1>
    <h2>Your modular application is up &amp; running.</h2>
  </div>
  <div class="page-header">
    <h1>Components</h1>
    <p>Start by looking at <code>{{webmeta.title}}/system.clj</code>
    which specifies all the components that play a part in this
    application.</p>
  </div>
  <div class="page-header">
    <h1>Menubar</h1>
    <p>See the extensible menubar at the top of this page.</p>
    <p>Some components have already been added for you. Components that
    satisfy <code>modular.menu/MenuItems</code> will be found by
    the <code>module.menu/MenuIndex</code> component. </p>
  </div>

</div>
