<configuration scan="true" scanPeriod="1 seconds" debug="false">

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <!-- Just switch level to DEBUG on this and/or some of the loggers
       below -->
  <logger name="{{name}}" level="INFO"/>

  <!-- TODO (modular) Automatically generate based on project options -->
  <logger name="cylon" level="INFO"/>
  <logger name="modular.http-kit" level="INFO"/>
  <logger name="modular.bidi" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
