<!DOCTYPE html>
<html prefix="dc: http://purl.org/dc/elements/1.1/" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta property="dc:language" content="en"/>
    <meta property="dc:title" content="{{webmeta.title}}"/>
    <meta property="dc:description" content="{{webmeta.description}}"/>

    <title>{{webmeta.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
<!--
    <link href="/css/style.css" rel="stylesheet">
-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
        <![endif]-->

  </head>
  <body>
    <h1>Congratulations!</h1>
    <h2>Your modular project is up &amp; running</h2>
    <div class="container-narrow">
      {{{body}}}
    </div>

    <div id="ankha">
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/react.js"></script>

    <!-- Javascripts that have been contributed by other modules -->
    {{#cljs-builder.javascripts}}
    <script src="{{{.}}}" type="text/javascript"></script>
    {{/cljs-builder.javascripts}}

    {{{cljs}}}

  </body>
</html>
